:root {
  --font-color: #0d1b2a;
  --background-color: #e0e1dd;
  --link-color: #0077b6;
}

[data-theme="dark"] {
  --font-color: #e0e1dd;
  --background-color: #0d1b2a;
  --link-color: #0077b6;
}

body {
  color: var(--font-color);
}

a {
  color: var(--link-color);
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 27px;
  width: 50px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 4px;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

input:checked + .slider {
  background-color: #415a77;
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
